<div class="inner-sidenav-content">
  <div [ngClass.gt-sm]="{'p-b-1em':true}">
    <!-- <mat-card flex-layout>Simple card</mat-card> -->
    <div class="container" style="margin: 7% 0 0 0;" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="50%">
      </div>
      <div class="item item-1" fxFlex="30%">
        <mat-card class="card card-margin" flex-layout>
          <mat-toolbar class="title" color="primary">Login</mat-toolbar>
          <mat-card-content class="content">
            <div class="login-container">
              <form id="login-form" [formGroup]="loginForm" class="example-form" #form="ngForm" novalidate>
                <div flexLayout="column" flexLayoutAlign="start center">
                  <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn">
                    <div>
                      <mat-icon matSuffix>person</mat-icon>
                    </div>
                    <div fxFlex="90">
                      <mat-form-field class="example-full-width">
                        <input matInput #username placeholder="Username" formControlName="usernameField" [(ngModel)]="user.username">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-around center" class="spaceIn">
                    <div>
                      <mat-icon matSuffix>lock</mat-icon>
                    </div>
                    <div fxFlex="90">
                      <mat-form-field class="example-full-width">
                        <input type="password" #password matInput formControlName="passwordField" placeholder="Password" [(ngModel)]="user.password">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button mat-raised-button type="button" (click)="onLogin()" color="accent">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>